/* Setze den Font und Hintergrund des Body-Elements */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #262626;
	color: #fff;
	text-align: center;
}

/* Setze das Styling für den Container */
.container {
	background-color: #151515;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
	padding: 20px;
	margin: 20px auto;
	max-width: 500px;
}

/* Setze die Ausrichtung und den Abstand für den Header */
header {
	text-align: center;
	margin-top: 50px;
}

/* Setze die Schriftart und Farbe für den H1-Titel */
h1 {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
	color: #bf0e08;
}

/* Setze das Styling für den roten Balken mit Zieltext */
.goal-container {
	background-color: #8e2424;
	padding: 5px;
	margin-top: 50px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 6px rgba(155, 152, 152, 0.5);
}


img {
	width: 300px; /* Festgelegte Breite */
	height: auto; /* Automatische Anpassung der Höhe */
  }
  





