/* CSS für den gesamten Body */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #262626;/* Hintergrundfarbe für den Body */
}

/* CSS für den Chat-Container */
.chat-container {
	margin: 50px auto; /* Abstand von oben und unten, zentriert den Container horizontal */
	max-width: 500px; /* Maximale Breite des Containers */
	background-color: white; /* Hintergrundfarbe für den Chat-Container */
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); /* Schatten um den Container */
}

/* CSS für die Chat-Header-Sektion */
.chat-header {
	background-color: #0f1010; /* Hintergrundfarbe für die Chat-Header-Sektion */
	color: #fff; /* Schriftfarbe für die Chat-Header-Sektion */
	padding: 20px; /* Innenabstand für die Chat-Header-Sektion */
	text-align: center; /* Textausrichtung für die Chat-Header-Sektion */
}

/* CSS für die Chat-Box */
.chat-box {
	padding: 20px; /* Innenabstand für die Chat-Box */
}

/* CSS für eine einzelne Chat-Nachricht */
.chat-message {
	margin-bottom: 10px; /* Abstand zwischen den Chat-Nachrichten */
}

/* CSS für den Textinhalt einer Chat-Nachricht */
.chat-message p {
	padding: 10px; /* Innenabstand für den Textinhalt einer Chat-Nachricht */
	background-color: #f1f1f1; /* Hintergrundfarbe für den Textinhalt einer Chat-Nachricht */
	border-radius: 10px; /* Abrundung der Ecken für den Textinhalt einer Chat-Nachricht */
}

/* CSS für die Chat-Eingabe-Sektion */
.chat-input {
	display: flex; /* Eingabe-Sektion wird als flexibles Element dargestellt */
	align-items: center; /* Eingabe-Sektion wird vertikal zentriert */
	padding: 20px; /* Innenabstand für die Chat-Eingabe-Sektion */
}

/* CSS für das Texteingabefeld in der Chat-Eingabe-Sektion */
.chat-input input[type="text"] {
	flex: 1; /* Das Texteingabefeld nimmt den verfügbaren Platz in der Eingabe-Sektion ein */
	padding: 10px; /* Innenabstand für das Texteingabefeld */
	border: none; /* Keine Rahmenlinien für das Texteingabefeld */
	border-radius: 10px; /* Abrundung der Ecken für das Texteingabefeld */
	margin-right: 10px; /* Abstand zwischen dem Texteingabefeld und dem Senden-Button */
}

/* CSS für den Senden-Button in der Chat-Eingabe-Sektion */
.chat-input button {
	background-color: #3c3d3f; /* Hintergrundfarbe für den Senden-Button */
	color: #fff; /* Schriftfarbe für den Senden-Button */
	padding: 10px 20px; /* Innenabstand für den Senden-Button */
	border: none; /* Keine Rahmenlinien für den Senden-Button */
	border-radius: 10px; /* Abrundung der Ecken für den Senden-Button */
	cursor: pointer; /* Zeiger-Cursor beim Über*/
		}


/* Styles für h5-Elemente */
/* Definiert die Farbe für die Überschriften der Fehlermeldungen */
h5 {
	color: green;
}

/* Definiert die Positionierung und Anzeige für den Hover-Container */
.hover-container {
	position: relative;
	display: inline-block;
}

/* Definiert die Positionierung und Anzeige für den Hover-Text */
.hover-box {
	position: absolute; /* Element wird relativ zum nächsten übergeordneten Element positioniert*/
	bottom: 0;
	left: 50%;
	transform: translateX(-50%); /*Element wird horizontal um 50% verschoben*/
	background-color: #000;
	color: #fff;
	padding: 10px; /* Innenabstand */
	visibility: hidden; /*Das Element wird anfangs unsichtbar gemacht und ausgeblendet.*/
	opacity: 0;
	transition: visibility 0s, opacity 0.5s ease-in-out; /*Eine Übergangseigenschaft wird definiert, um einen sanften Übergang von der unsichtbaren zur sichtbaren Darstellung des Elements zu ermöglichen. Die Sichtbarkeit (visibility) ändert sich sofort (0 Sekunden) und die Deckkraft (opacity) ändert sich über einen Zeitraum von 0,5 Sekunden mit einer ein- und ausblendenden Übergangsfunktion (ease-in-out).*/
}

/* Definiert die Anzeige des Hover-Textes, wenn der Hover-Container angezeigt wird */
.hover-container:hover .hover-box {
	visibility: visible;
	opacity: 1;
}

/* Definiert den Abstand des Textes innerhalb des Hover-Containers */
.hover-box p {
	margin: 0;
}

/* Definiert die Größe des Bildes */
img{
	width: 5%;
}  

/* Definiert die Eigenschaften des Erfolgsmeldungs-Containers */
.success-box {
	background-color: #fff;
	border: 2px solid black;
	color: black;
	font-size: 1.2em;
	padding: 1em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 70%;
}


/* Definiert die Eigenschaften der Überschrift der Erfolgsmeldung */
.success-box h3 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* Definiert die Eigenschaften des Fehlermeldungs-Containers */
.error-box {
	background-color: #f44336;
	color: white;
	padding: 10px;
	margin-top: 10px;
	font-size: smaller;
	position: absolute;
	top: 80%;
	left: 60%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 0, 0, 0.8); /* definiert die Hintergrundfarbe der Fehlermeldung */
	color: white; /* definiert die Textfarbe der Fehlermeldung */
	padding: 10px; /* definiert den Abstand des Textes zum Container */
	border-radius: 5px; /* definiert die Rundung der Ecken des Containers */
	text-align: center; /* definiert die Ausrichtung des Textes */
	z-index: 999; /* definiert die Z-Ebene des Containers */
}

input {
	padding: 10px; /* Eingabefeldränder um 10px setzen */
	margin: 10px 0px; /* Oben- und Untenabstand von 10px für das Eingabefeld setzen */
	border-radius: 5px; /* Eingabefeldränder auf 5px abrunden */
	border: none; /* Keine Rahmen um das Eingabefeld */
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3); /* Einen leichten Schatten um das Eingabefeld erstellen */
	background-color: #ece9e9; /* Hintergrundfarbe des Eingabefeldes auf Dunkelgrau setzen */
	color: #050505; /* Schriftfarbe auf Weiß setzen */
	outline: none; /* Keine Umrandung des Eingabefelds bei Auswahl */
}


