/* Allgemeiner Stil für den Body */
body {
	font-family: 'Open Sans', sans-serif; /* Textfont */
	background-color: #2c2c2c; /* Hintergrundfarbe */
	color: #e8e8e8; /* Textfarbe */
	text-align: center; /* Zentrierung des Texts */
	margin: 0; /* Entfernen von Standard-Abständen */
}

/* Stil für Header-Element */
header {
	margin-top: 50px; /* Abstand zum oberen Rand */
}

/* Stil für Überschriften */
h1 {
	font-size: 36px; /* Schriftgröße */
	margin-bottom: 10px; /* Abstand zum unteren Element */
}

/* Stil für Absätze */
p {
	font-size: 12px; /* Schriftgröße */
	margin-bottom: 50px; /* Abstand zum unteren Element */
	color: #a39d9d; /* Textfarbe */
	font-style: italic; /* Kursivschrift */
}

/* Stil für Hauptbereich */
main {
	display: flex; /* Anzeige als Flex-Container */
	justify-content: center; /* Zentrierung der Elemente horizontal */
	flex-wrap: wrap; /* Umbruch der Elemente */
	margin-bottom: 50px; /* Abstand zum unteren Element */
}

/* Stil für Kacheln */
.tile {
	width: 300px; /* Breite der Kachel */
	height: 250px; /* Höhe der Kachel */
	background-color: #070606; /* Hintergrundfarbe */
	border: 1px solid #000000; /* Rahmen */
	margin: 20px; /* Abstand zu anderen Elementen */
	padding: 20px; /* Innenabstand der Kachel */
	box-sizing: border-box; /* Box-Modell */
	color: white; /* Textfarbe */
	text-align: center; /* Zentrierung des Texts */

	box-shadow: 0 8px 9px rgba(248, 248, 248, 0.15); /* Schatten */
}

/* Stil für Überschrift in der Kachel */
.tile-title {
	font-size: 24px; /* Schriftgröße */
	font-weight: bold; /* Schriftstärke */
	margin-top: 70px; /* Abstand zum oberen Rand */
	margin-bottom: 10px; /* Abstand zum unteren Element */
	color: #e8e8e8; /* Textfarbe */
}

/* Stil für rote Überschrift in der Kachel */
.tile-title-red-heading{
	font-size: 24px; /* Schriftgröße */
	font-weight: bold; /* Schriftstärke */
	margin-top: 70px; /* Abstand zum oberen Rand */
	margin-bottom: 10px; /* Abstand zum unteren Element */
	color: #f10e0e; /* Textfarbe */
	text-decoration: underline; /* Unterstrichene Schrift */
	display: flex; /* Anzeige als Flex-Container */
	flex-direction: column; /* Ausrichtung des Inhalts */
}

/* Stil für Bilder in der Kachel */
img{
	height: 50px; /* Höhe des Bilds */
	margin-bottom: 10px; /* Abstand zum unteren Element */
}
